.headerContainer {
  background-color: white;
  height: 6rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  border-bottom: 1px solid gray;

  .headerLine {
    margin: 0px 30px;
    border-bottom: 3px solid var(--green-500);
    flex: 1;
    opacity: 0.15;
  }

  span {
    text-transform: capitalize;
  }

  img {
    cursor: pointer;
  }
}
